In [1]:
import os
os.chdir('/Users/pengcheng/Research/tableBERT')

In [2]:
from table_bert.dataset import *
import json

In [7]:
data_path = 'data/sampled_data/common_crawl.debug.jsonl'
examples = []
for line in open(data_path):
    examples.append(json.loads(line))
    
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

In [46]:
from IPython.display import display, HTML
import random

idx = random.randint(0, len(examples))
print(idx)
example = Example.from_dict(examples[idx], tokenizer=None, suffix=None)
for context in example.context:
    for line in context:
        print(line)
df = example.get_table().to_data_frame()
tokenized_df = example.get_table().to_data_frame(tokenizer=tokenizer)

display(df)
display(tokenized_df)

1197
Scouting Audibles Bio Videos Statistics Updates Who has the advantage at each position?

                 2010 OPPONENTS No Yds  Avg TD No Yds   Avg TD
0          North Texas (Sep. 4)  0   0  0.0  0  0   0   0.0  0
1        PRESBYTERIAN (Sep. 11)  0   0  0.0  0  0   0   0.0  0
2           at Auburn (Sep. 18)  0   0  0.0  0  0   0   0.0  0
3             Miami-FL (Oct. 2)  0   0  0.0  0  0   0   0.0  0
4    at North Carolina (Oct. 9)  0   0  0.0  0  0   0   0.0  0
5            Maryland (Oct. 16)  0   0  0.0  0  3  52  17.3  0
6        Georgia Tech (Oct. 23)  0   0  0.0  0  0   0   0.0  0
7   at Boston College (Oct. 30)  0   0  0.0  0  0   0   0.0  0
8             NC State (Nov. 6)  -
9    at Florida State (Nov. 13)  0   0  0.0  0  0   0   0.0  0
10     at Wake Forest (Nov. 20)  0   0  0.0  0  0   0   0.0  0
11     South Carolina (Nov. 27)  0   0  0.0  0  0   0   0.0  0
12      South Florida (Dec. 31)  0   0  0.0  0  0   0   0.0  0

                    2010 opponents no yd ##s av ##g td no yd ##s  av ##g td
0          north texas ( sep . 4 )  0      0  0 . 0  0  0      0   0 . 0  0
1        presbyterian ( sep . 11 )  0      0  0 . 0  0  0      0   0 . 0  0
2           at auburn ( sep . 18 )  0      0  0 . 0  0  0      0   0 . 0  0
3           miami - fl ( oct . 2 )  0      0  0 . 0  0  0      0   0 . 0  0
4    at north carolina ( oct . 9 )  0      0  0 . 0  0  0      0   0 . 0  0
5            maryland ( oct . 16 )  0      0  0 . 0  0  3     52  17 . 3  0
6        georgia tech ( oct . 23 )  0      0  0 . 0  0  0      0   0 . 0  0
7   at boston college ( oct . 30 )  0      0  0 . 0  0  0      0   0 . 0  0
8             nc state ( nov . 6 )  -
9    at florida state ( nov . 13 )  0      0  0 . 0  0  0      0   0 . 0  0
10     at wake forest ( nov . 20 )  0      0  0 . 0  0  0      0   0 . 0  0
11     south carolina ( nov . 27 )  0      0  0 . 0  0  0      0   0 . 0  0
12      south florida ( dec . 31 )  0      0  0 . 0  0  0      0   0 . 0  0